* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background: #0b1220;
  color: #e5e7eb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume {
  width: 1200px;
  --background-re: linear-gradient(180deg, #0b1220, #0f172a);
  border-radius: 16px;
  display: grid;
  grid-template-columns: 450px 1fr;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

/* LEFT PANEL */
.left {
  width: 450px;
  justify-items: center;
  padding: 32px;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  align-items: center; /* căn giữa ngang */
  text-align: center;
}

.avatar {
  width: 300px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 6px;
}

.title {
  color: #93c5fd;
  font-size: 15px;
  margin-bottom: 16px;
  text-align: center;
}

/* Trigger */
.about-trigger {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 24px;
  display: inline-block;
}

.about-trigger:hover {
  text-decoration: underline;
  color: #acacac;
}

/* Overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 999;
}

/* Modal */
.modal {
  background: #0f172a;
  padding: 24px 28px;
  border-radius: 14px;
  width: 420px;
  max-width: 90%;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  transform: scale(0.9);
  transition: 0.3s ease;
}

.modal h2 {
  margin-bottom: 12px;
  font-size: 18px;
  justify-content: center;
}

.modal p {
  font-size: 18px;
  line-height: 1.6;
  color: #cbd5f5;
  text-align: left;
}

/* Close */
.close-btn {
  display: inline-block;
  margin-top: 16px;
  background: #2563eb;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}

.close-btn:hover {
  background: #1d4ed8;
}

/* Show modal when targeted */
#about:target {
  opacity: 1;
  pointer-events: auto;
}

#about:target .modal {
  transform: scale(1);
}

.contact {
  font-size: 14px;
  display: grid;
  gap: 10px;
}

.contact span {
  color: #9ca3af;
}

.contact a {
  color: #e5e7eb;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
}

.socials a {
  /* width: 36px;
  height: 36px; */
  /* border-radius: 50%; */
  background: var(--background-re);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #e5e7eb;
  transition: 0.3s;
}

.socials a:hover {
  background: #000000;
}

/* RIGHT PANEL */
.right {
  width: 800px;
  padding: 32px 40px;
  padding-right: 70px;
}

.section {
  margin-bottom: 32px;
}

.section h2 {
  font-size: 18px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 8px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px 48px;
}

.block h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #e5e7eb;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;
}

.tag {
  background: rgba(255, 255, 255, 0.08);
  padding: 6px 12px;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  font-size: 13px;
}

.tag:hover {
  background: rgba(255, 255, 255, 0.16);
}
.experience {
  position: relative;
  padding-left: 32px;
}
.experience-item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px 20px;
  margin-bottom: 20px;
}
.experience-item .line {
  position: absolute;
  left: 7.2px;
  top: 0;
  bottom: 2px;
  width: 5px;
  background: rgba(206, 194, 194, 0.15);
}
.experience-item .dot {
  position: absolute;
  left: 0.5px;
  top: 4px;
  width: 14px;
  height: 14px;
  background: #868fa1;
  /* border-radius: 50%; */
  transition: transform 0.5s ease;
}
.experience-item:hover .dot {
  transform: translateY(var(--line-length, 100%));
  background: #e5e7eb;
}
.experience-item h3 {
  font-size: 16px;
  font-weight: 600;
}

.company {
  font-size: 14px;
  color: #93c5fd;
}

.date {
  font-size: 13px;
  color: #9ca3af;
  text-align: right;
}

.desc {
  /* top: 4px;
  grid-column: 1 / -1; */
  /* border-top: #0b1220; */
  font-size: 14px;
  line-height: 1.6;
  color: #cbd5f5;
}

@media (max-width: 900px) {
  .resume {
    grid-template-columns: 1fr;
  }

  .left {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
}
